<html>
  <head>
    <title>Real Blog</title>
  </head>
  <body>
    <h1>Welcome to Real Blog!</h1>

    <form action="/abap">
      제목 : <input type="text" name="title"><br>
      내용 : <input type="text" name="content"><br>
      <input type="submit">
    </form>

    <% @posts.each do |post| %>
      <p>제목 : <%= post.title %></p>
      <p>내용 : <%= post.body %></p>
    <% end %>

  </body>
</html>
